name = "MuSink"
uuid = "9311f4a3-d431-4665-b35d-8d2edcf6b88a"
authors = ["Thomas Staudt <tscode@posteo.net>"]
version = "0.1.1"

[deps]
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"

[weakdeps]
LoopVectorization="bdcacae8-1622-11e9-2a5c-532679323890"
PythonCall="6099a3de-0909-46bc-b1f4-468b9a2dfc0d"
CUDA="052768ef-5323-5732-b1bb-66c8b64840ba"
oneAPI="8f75cd03-7ff8-4ecb-9b8f-daf728133b1b"
Metal="dde4c033-4e86-420c-a63e-0dd931031962"
AMDGPU="21141c5a-9bdb-4563-92ae-f87d6854732e"

[extensions]
CUDAExt = ["CUDA"]
oneAPIExt = ["oneAPI"]
MetalExt = ["Metal"]
PythonCallExt = ["PythonCall"]
LoopVectorizationExt = ["LoopVectorization"]
AMDGPUExt = ["AMDGPU"]

[compat]
julia = "1.9"
Random = "1.9"
LinearAlgebra = "1.9"
SparseArrays = "1.9"
Statistics = "1.9"
Distributed = "1.9"
Test = "1.9"
FFTW = "1.6"
LoopVectorization = "0.12"
PythonCall = "0.9"
CUDA = "5.0"
oneAPI = "2.0"
Metal = "1.5"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
